rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read, write: if signedIn() && request.auth.uid == userId;
    }

    match /posts/{postId} {
      allow read: if signedIn();
      allow create: if signedIn();
      allow update, delete: if signedIn() && resource.data.creatorId == request.auth.uid;
    }

    match /acceptances/{acceptanceId} {
      allow read, create: if signedIn();
      allow update, delete: if signedIn() && resource.data.acceptorId == request.auth.uid;
    }

    match /messageThreads/{threadId} {
      allow read: if signedIn() && request.auth.uid in resource.data.participants;
      allow create, update: if signedIn();

      match /messages/{messageId} {
        allow read, write: if signedIn();
      }
    }
  }
}
